@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

/* creating layout */

.page {
  display: flex;
}
header {
  min-height: 100vh;
  width: 12%;
  background-color: #323e4d;
}
.main {
  display: flex;
  flex-direction: column;
  flex: 5 1 100%;
}
nav {
  height: 40px;
  width: 100%;
  box-shadow: 0 5px 5px lightgray;
  /* flex: 5 1 90vw; */
}
.task_box {
  width: 300px;
  margin: 120px 10px;
}

/* specific css */
.header {
  display: flex;
  color: gray;
  border: 1px solid lightgray;
  font-weight: 800;
}
.task_nos {
  padding: 2px;
  flex: 4 1 400px;
}
.addNewTask {
  font-size: 18px;
  align-self: center;
  height: 100%;
  cursor: pointer;
  margin-left: 10px;
  background: none;
  outline: none;
  flex: 1 1 40px;
  border: none;
  border-left: 2px solid lightgray;
}
/* showing Tasks */

.tasks_bar {
  border: 1px solid lightgray;
  display: flex;
  padding: 10px;
}

.details {
  display: flex;
  flex-direction: column;
  flex: 2 1 75%;
  padding-left: 20px;
}
.icons {
  flex: 1 1 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bell,
.check,
.edit {
  color: gray;
  height: 25px;
  width: 25px;
  padding-bottom: 10px;
  border: 1px solid lightgray;
  border-radius: 2px;
}
.delete {
  height: 20px;
  width: 20px;
  color: gray;
  margin-right: auto;
  cursor: pointer;
  margin-top: 5px;
}
.m-l {
  margin-right: 8px;
}
p {
  font-weight: 400;
}
.show_date {
  font-size: 10px;
  color: red;
}
/* adding tasks */
.newTask {
  text-align: center;
  border: 1px solid lightgray;
  background-color: #edf7fc;
}
.task_desc {
  display: flex;
  flex-direction: column;
  text-align: start;
  color: gray;
}

.date_time {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  color: gray;
}
.date,
.time {
  display: flex;
  flex-direction: column;
  text-align: start;
  flex: 1 1 50%;
}
.user {
  display: flex;
  flex-direction: column;
  text-align: start;
  color: gray;
}
.buttons {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}
.cancel_button {
  background: transparent;
  outline: none;
  border: none;
}

.save_button {
  background-color: #47bb7f;
  color: white;
  border: none;
}
.save_button:active {
  background-color: #56e59b;
}
/* generic css */
.container {
  max-width: 95%;
  margin: 5px auto;
}
.input_field {
  margin: 5px 0px;
  padding: 5px 3px;
  border: 1px solid lightgray;
  outline: none;
}
.button_pos {
  padding: 5px 18px;
  border-radius: 5px;
}

select {
  background-color: white;
  border: thin solid lightgrey;
  color: gray;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  outline: none;
  /* line-height: 1.5em; */
  padding: 4px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}
select.arrows {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAA3klEQVRIS+3VMU9CMRTF8d8zBL+aizoQFhx0kUk33RzdYMNFXUFnYeGrYYyaJiUxJHDLSxodbNKpfeffc9/pbaPyaCrr+3OA++z4rtT5Pg5GuMnCY9yWQEoBE1xhlUUP8YDrCBIB0vojLvGO0yz4hm4JJAKcYYoPHGOZAUdYoIMBXrc5iQAHeMlzviFygj7O8dkWEJU4XI8chALRhn9AVKHf70VRTHu4wFfbmKZLNKt50dLBnna0imcMd/2I0phWa3Y/D1e1Xa9BCZJG0VuQNpaWKMx72xS1Fl5/WN3BN+AgJhnZQlq4AAAAAElFTkSuQmCC");
  background-position: calc(100% - 0.5rem), 100% 0;
  background-size: 1.5em 1.5em;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 874px) {
  .date_time {
    flex-direction: column;
  }
}
